:root {
    --text-color-title: #212121;
    --text-color: #757575;
    --acent: #2196F3;
    --background: #E5E5E5;
    --white: #ffffff;
    --dark: #2F303A;
    --black-acent: #000000;
    --adress-color: #FFFFFF99;
    --filter-background: #F5F4FA;
}
/* основные стили */
body {
    color: var(--text-color);
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.site-nav-list,
.contact-list,
.competence-list,
.work-list,
.team-list,
.address-list,
.portfolio-list,
.filter-list {
    list-style: none;
}
.section-title,
.title {
    color: var(--text-color-title);
}
.logo {
    color: var(--black-acent)
}
.logo span {
    color: var(--acent);
}

/* стили для меню сайта */
.site-nav .link {
    color: var(--text-color-title);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--acent);
}
.contact-list .link {
    color: var(--text-color);
}
.contact-list .link:hover,
.contact-list .link:focus {
        color: var(--acent);
    }
.logo,
.link, 
.address-link {
    text-decoration: none;
}

/* стили для героя */
.hero {
    background-color: var(--dark);
}
.hero-title {
    color: var(--white);
}
.hero-button {
    color: var(--white);
    background-color: var(--acent);
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--white);
    background-color: var(--acent);
}
/* стили для секции наша команда */
.team {
    background-color: var(--background);
}
.team-item {
    background-color: var(--white);
}
/* стили для футера */
.footer {
    background-color: var(--dark);
}
.address-link {
    color: var(--adress-color);
}
.address-list + .address-list {
    color: var(--white);
}

/* стили кнопок фильтра в портфолио */
.filter-btn {
    color: var(--text-color-title);
    background-color: var(--filter-background);
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
color: var(--white);
background-color: var(--acent);
}